{% comment %}
  Footer for a standard workshop.
{% endcomment %}
<footer>
  <div class="row">
    <div class="col-md-16" align="left">
      <h6>
The material is adapted from Feng, X, F Gebresenbet and C Walker. 2017 Shifting from closed-source graphical-interface to open-source programming environment: a brief tutorial on running Maxent in R. PeerJ Preprints, 10.7287/peerj.preprints.3346v1;
      </h6>
      <h6>
The material is improved by Gengping Zhu & Luis Escobar ;
      </h6>
       <h6>
The website is adapted from Software Carpentry.
      </h6>
    </div>
    <div class="col-md-6" align="right">
      <h4>

      </h4>
    </div>
  </div>
</footer>
